<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
    <Product Name='Odel $(var.VERSION)' Id='32d115a7-3757-4cb8-b08a-530028abb1fb' UpgradeCode='e146fcc6-847d-42a6-8117-d2bcdfd8304b'
        Language='1033' Codepage='1252' Version='1.0.0' Manufacturer='Odel'>

        <Package Id='*' Keywords='Installer'
            InstallScope="perMachine"
            Description="Odel $(var.VERSION) Installer"
            Comments='Windows Install Package' Manufacturer='Odel'
            InstallerVersion='100' Languages='1033' Compressed='yes' SummaryCodepage='1252' />

        <Media Id='1' Cabinet='Sample.cab' EmbedCab='yes' DiskPrompt="CD-ROM #1" />
        <Property Id='DiskPrompt' Value="Odel 1.0 Installation [1]" />

        <Property Id="DISABLEADVTSHORTCUTS" Value="1" />

        <CustomAction Id="SetPerUserFolder" Property="APPLICATIONFOLDER" Value="[LocalAppDataFolder]Odel" Execute="immediate" />
        <CustomAction Id="SetPerMachineFolder" Property="APPLICATIONFOLDER" Value="[ProgramFilesFolder]Odel" Execute="immediate" />

        <InstallExecuteSequence>
            <Custom Action="SetPerUserFolder" Before="CostFinalize">ACTION="INSTALL" AND APPLICATIONFOLDER="" AND (ALLUSERS="" OR (ALLUSERS=2 AND (NOT Privileged)))</Custom>
            <Custom Action="SetPerMachineFolder" After="SetPerUserFolder">ACTION="INSTALL" AND APPLICATIONFOLDER="" AND (ALLUSERS=1 OR (ALLUSERS=2 AND Privileged))</Custom>
        </InstallExecuteSequence>
        <InstallUISequence>
            <Custom Action="SetPerUserFolder" Before="CostFinalize">ACTION="INSTALL" AND APPLICATIONFOLDER="" AND (ALLUSERS="" OR (ALLUSERS=2 AND (NOT Privileged)))</Custom>
            <Custom Action="SetPerMachineFolder" After="SetPerUserFolder">ACTION="INSTALL" AND APPLICATIONFOLDER="" AND (ALLUSERS=1 OR (ALLUSERS=2 AND Privileged))</Custom>
        </InstallUISequence>


        <Directory Id='TARGETDIR' Name='SourceDir'>
            <Directory Id='ProgramFilesFolder' Name='PFiles'>
                <Directory Id='APPLICATIONFOLDER' Name='Odel'>
                    <Component Id='MainExecutable' Guid='77de8675-e836-4158-b672-435bc7bd58c6'>
                        <File Id='odel.exe' Name='odel.exe' DiskId='1' Source='../dist/odel-runner.exe' KeyPath='yes' />
                    </Component>

                    <Component Id="UpdatePathUser"
                        Guid="28ed3650-96b1-4e91-b69f-3ff0357c588c">
                        <Condition><![CDATA[ ALLUSERS="" OR (ALLUSERS=2 AND (NOT Privileged)) ]]></Condition>
                        <Environment Id="UpdatePathUser" Name="PATH" Action="set"
                        Part="last" Value="[APPLICATIONFOLDER]" System="no" />
                        <RegistryValue Root="HKCU" Key="Software\Odel"
                        Name="UserPathUpdated" Type="integer" Value="1" KeyPath="yes"/>
                    </Component>

                    <Component Id="UpdatePathMachine"
                        Guid="2e9fe894-2062-4482-814b-b9004e7fd71a">
                        <Condition><![CDATA[ ALLUSERS=1 OR (ALLUSERS=2 AND Privileged) ]]></Condition>
                        <Environment Id="UpdatePathMachine" Name="PATH" Action="set"
                        Part="last" Value="[APPLICATIONFOLDER]" System="yes" />
                        <RegistryValue Root="HKLM" Key="Software\Odel"
                        Name="SystemPathUpdated" Type="integer" Value="1" KeyPath="yes"/>
                    </Component>
                </Directory>
            </Directory>

            <!-- <Directory Id="ProgramMenuFolder" Name="Programs">
                <Directory Id="ProgramMenuDir" Name="Foobar 1.0">
                    <Component Id="ProgramMenuDir" Guid="c3d897d2-8f47-4fa1-9c2c-c2893f292afe">
                        <RemoveFolder Id='ProgramMenuDir' On='uninstall' />
                        <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]' Type='string' Value='' KeyPath='yes' />
                    </Component>
                </Directory>
            </Directory> -->

            <Directory Id="DesktopFolder" Name="Desktop" />
        </Directory>

        <Feature Id='Complete' Title='Foobar 1.0' Description='The complete package.'
            Display='expand' Level='1' ConfigurableDirectory='APPLICATIONFOLDER'>
            <Feature Id='MainProgram' Title='Program' Description='The main executable.' Level='1'>
                <ComponentRef Id='MainExecutable' />
                <ComponentRef Id="UpdatePathUser" />
                <ComponentRef Id="UpdatePathMachine" />
            </Feature>
        </Feature>

        <Property Id="WIXUI_INSTALLDIR" Value="APPLICATIONFOLDER" />
        <UIRef Id="WixUI_InstallDir" />
        <UIRef Id="WixUI_ErrorProgressText" />
        <WixVariable Id="WixUILicenseRtf" Value="..\COPYING.rtf" />

        <!-- <Icon Id="Icon" SourceFile="../dist/tririga/tririga.exe" /> -->

    </Product>
</Wix>
